<script>
    export let compiled
</script>

<div class="wrapper">
    {compiled.message}
</div>

<style>
    .wrapper {
        display: flex;

        color: white;
        box-sizing: border-box;
        padding: 15px 10px;
        bottom: 0;
        right: 0;
        position: absolute;
        width: 100%;
        background: rgba(255, 0, 0, 0.76);
    }
</style>