<script>
    import { Link } from "svelte-navigator";
</script>

<Link to="/">
    <div class="wrapper" on:click={() => console.log(999)}>
        Menu
    </div>
</Link>


<style>
    .wrapper {
        color: #ffffff;
        z-index: 9999;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #4193af;
        position: absolute;
        bottom: 10px;
        right: 20px;
        width: 80px;
        height: 20px;
        padding: 10px;
    }
</style>