<script>
    import { clickOutside } from "../../utils/clickOutside";
    import { createFileModal } from "../../stores/createFileStore";
    import {activeFile} from "../../stores/fileStore";

    export let
        handleCreate = () => {},
        handleRename = () => {}

    let value = ''

    activeFile.subscribe((info) => {
        info.type !== 'folder' && (value = `${info.name}.${info.type}`)
        info.type === 'folder' && (value = `${info.name}`)
    });

    const onKeyPress = e => {
        if (e.charCode === 13) {
            ($createFileModal.action === 'create' && $activeFile.type !== 'folder') &&
                handleCreate(value.split('.')[0], value.split('.')[1]);

            ($createFileModal.action === 'create' && $activeFile.type === 'folder') &&
                handleCreate(value, 'folder');

            $createFileModal.action === 'rename' &&
                handleRename(value.split('.')[0], value.split('.')[1])

            createFileModal.set({show: false, label: '', action: ''})
        }
    };

    const handleClickOutside = () => {
        createFileModal.set({
            show: false,
            label: ''
        })
    }
</script>

{#if $createFileModal.show}
    <div class="wrapper" on:keypress={onKeyPress} use:clickOutside on:click_outside={handleClickOutside}>
        <div class="header">{$createFileModal.label}</div>
        <input class="input" bind:value autofocus/>
    </div>
{/if}


<style>
    .wrapper {
        border: 1px solid #565656;
        position: absolute;
        top: calc(50vh - 50px);
        z-index: 999;
        width: 400px;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background: #676767;
        color: #e7e7e7;
        font-size: 15px;
    }

    .input {
        outline: none;
        font-size: 15px;
        color: #e7e7e7;
        border: none;
        padding: 2px 10px;
        background: #4d4d4d;
        margin: 0;
        width: 100%;
        height: 30px;
    }
</style>