<script>
    import { clickOutside } from "../../utils/clickOutside";
    import { deleteFileModal } from "../../stores/deleteFileStore";
    import { activeFile } from "../../stores/fileStore";

    export let handleCreate = () => {}, handleDelete = () => {}

    let value = ''

    deleteFileModal.subscribe((info) => {
        value = `${info.name}.${info.type}`;
    });

    const deleteFile = () => {
        handleDelete($activeFile.name, $activeFile.type)

        deleteFileModal.set({
            show: false,
            type: '',
            label: '',
            name: ''
        })
    }

    const onKeyPress = e => {
        if (e.charCode === 13) handleCreate(value.split('.')[0], value.split('.')[1]);

        deleteFileModal.set({
            show: false,
            type: '',
            label: '',
            name: ''
        })
    };

    const handleClickOutside = () => {
        deleteFileModal.set({
            show: false,
            type: '',
            label: '',
            name: ''
        })
    }
</script>

{#if $deleteFileModal.show}
    <div class="wrapper" on:keypress={onKeyPress} use:clickOutside on:click_outside={handleClickOutside}>
        <div class="header">Delete</div>
        <div class="header mt">Delete {`"${$deleteFileModal.name}.${$deleteFileModal.type}"`}?</div>
        <div class="buttons">
            <button class="btn ok" on:click={deleteFile}>Ok</button>
            <button class="btn" on:click={handleClickOutside}>Cancel</button>
        </div>
    </div>
{/if}


<style>
    .wrapper {
        border: 1px solid #565656;
        position: absolute;
        top: calc(50vh - 50px);
        z-index: 999;
        width: 400px;
    }

    .header {
        display: flex;
        padding: 0px 10px;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        background: #4d4d4d;
        color: #e7e7e7;
        font-size: 15px;
    }

    .mt {
        padding-top: 10px;
    }

    .buttons {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0px 10px;
        background: #4d4d4d;
    }

    .btn {
        outline: none;
        cursor: pointer;
        display: flex;
        color: #d5d5d5;
        border: 1px solid #969696;
        background: #6c6c6c;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 60px;
    }

    .ok {
        border: 2px solid #69a7e3;
        margin-right: 10px;
        background: #338ee8;
    }
</style>