<script>
    import { clickOutside } from "../../utils/clickOutside";
    import { error } from "../../stores/errorModalStore";

    function cancel() {
        error.set('')
    }
</script>

{#if $error}
    <div class="wrapper" on:keypress={cancel} use:clickOutside on:click_outside={cancel}>
        <div class="header mt">{$error}</div>
        <div class="buttons">
            <button class="btn ok" on:click={cancel}>Ok</button>
            <button class="btn" on:click={cancel}>Cancel</button>
        </div>
    </div>
{/if}


<style>
    .wrapper {
        border: 1px solid #565656;
        position: absolute;
        top: calc(50vh - 50px);
        z-index: 999;
        width: 400px;
    }

    .header {
        display: flex;
        padding: 0px 10px;
        justify-content: flex-start;
        align-items: center;
        height: 30px;
        background: #4d4d4d;
        color: #e7e7e7;
        font-size: 15px;
    }

    .mt {
        padding-top: 10px;
    }

    .buttons {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0px 10px;
        background: #4d4d4d;
    }

    .btn {
        outline: none;
        cursor: pointer;
        display: flex;
        color: #d5d5d5;
        border: 1px solid #969696;
        background: #6c6c6c;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 60px;
    }

    .ok {
        border: 2px solid #69a7e3;
        margin-right: 10px;
        background: #338ee8;
    }
</style>