<script lang="ts">
    import type { Tab } from "../../../types"
    import { createEventDispatcher } from "svelte"
    const dispatch = createEventDispatcher<{ select: number; new: undefined, delete: number }>()

    export let
        tabs: Tab[] = [],
        current: number = 0,
        changeName

    const getName = (name, type) => {
        let newName = name.split('/')[name.split('/').length - 1]
        return `${newName}.${type}`
    }
</script>

<ul class="list">
    {#each tabs as { name, type, id, show }}
        {#if show}
            <li class="{id === current && 'active'} component" on:click={() => dispatch('select', id)}>
                <input
                        disabled={id !== current}
                        style="
                          width: {(name.split('/')[name.split('/').length - 1].length + type.length + 1) * 8 + 'px'};
                          cursor: {id !== current ? 'pointer' : 'text'}"
                        class="input"
                        type="text"
                        value={getName(name, type)}
                        on:input={() => changeName(id, 'aa', type)}
                />
                <div class="close" on:click|stopPropagation={() => dispatch('delete', id)}>
                    <span>x</span>
                </div>
            </li>
        {/if}
    {/each}
</ul>

<style>
    .list {
        background: #1d1f21;
        height: 30px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
    }

    .input {
        background: transparent;
        padding: 0;
        margin-top: 8px;
        border: none;
        width: max-content;
        outline: none;
        display: flex;
        align-items: center;
        color: white;
    }

    .component {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;

        height: 20px;
        border-bottom: 2px solid transparent;
        font-size: 12px;
        color: white;
        background: #2e2f31;
    }

    .component:not(.active):hover {
        background: #161818;
    }

    .active {
        border-bottom: 3px solid #338ee8;
        background: #4b4e52;
    }

    .close {
        margin-top: 3px;
        display: flex;
        padding: 1px 5px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        color: #8c8c8c;
    }

    .close span {
        margin-top: -3px;
    }

    .close:hover {
        background: #4b4e52;
        color: #d5d5d5;
    }
</style>