<script lang="ts">
    export let compiled: string

    let iframe: HTMLIFrameElement

    function update(code: any) {
        iframe.contentWindow.postMessage(code, '*')
    }

    $: iframe && compiled && update(compiled)

    const srcdoc = `
<!doctype html>
<html>
    <head>
        <script type='module'>
            let c

            function update(source) {
                const blob = new Blob([source], {type: 'text/javascript'})

                const url = URL.createObjectURL(blob)

                import(url).then(({default: App}) => {
                    if(c) c.$destroy()

                    document.body.innerHTML = ''
                    c = new App({ target: document.body })
                })
            }

            window.addEventListener('message', event => {
                update(event.data)
            }, false)
        <\/script>
    </head>
    <body style="margin: 0; padding: 0; box-sizing: border-box;"></body>
</html>
`
</script>

<section>
    <iframe class="iframe" title="Rendered REPL" bind:this={iframe} {srcdoc}></iframe>
</section>


<style>
    section {
        width: 100%;
        height: 100vh;
    }
    .iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

</style>