<script lang="ts">
    import { useLocation } from "svelte-navigator";
    import { Component } from "../types/types";
    import { getComponent } from "../utils/getComponent"
    import AceComponent from "../components/Editor/AceComponent/AceComponent.svelte";

    const
        location = useLocation(),
        worker = new Worker('./worker.js')

    let
        components : Component[] = getComponent($location.pathname),
        current: number = 0,
        compiled,
        err

    function compile(_components: Component[]): void {
        worker.postMessage(_components)
    }

    worker.addEventListener('message', event => compiled = event.data)

    $: compile(components)
</script>


<AceComponent bind:components bind:current {compiled}/>
