<script>
    import { Link } from "svelte-navigator";
</script>

<div class="wrapper">
    <Link to="/Donut">
        <div class="component"><span class="span">donut</span></div>
    </Link>
    <Link to="/Sharing">
        <div class="component"><span class="span">sharing</span></div>
    </Link>
    <Link to="/Form">
        <div class="component"><span class="span">form</span></div>
    </Link>
    <Link to="/Input">
        <div class="component"><span class="span">Input</span></div>
    </Link>
    <Link to="/MaskedInput">
        <div class="component"><span class="span">MaskedInput</span></div>
    </Link>
    <Link to="/Select">
        <div class="component"><span class="span">Select</span></div>
    </Link>
</div>


<style>
    .wrapper {
        display: flex;
        flex-direction: row;

        box-sizing: border-box;
        padding: 50px 100px;
        width: 100vw;
        height: 100vh;
    }

    .component {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 12px;
        border-radius: 8px;
        border: 2px solid blue;
        padding: 10px;
    }

</style>