<script>
    import Icon from "../../../assets/Icon.svelte";

    export let
        label = '',
        ml = 0,
        type = 'folder',
        handleClick = () => {},
        showing = true,
        isArrow = true,
        onRightClick = () => {}

    const files = [
        {type: 'svelte'}
    ]
</script>


<div
        on:contextmenu|preventDefault={onRightClick}
        on:click={handleClick}
        class="directory {type === 'folder' && 'noCenter'}"
        style="margin-left: {ml}"
>
     <div class="arrow {showing && 'showing'}">
         <Icon icon="arrow" />
     </div>
    <div class="folder">
        <Icon icon="folder" />
    </div>
    {label}
</div>


<style>
    .directory {
        height: 20px;
        cursor: pointer;
        margin-top: 5px;
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #b7b7b7;
        font-size: 14px;
    }

    .folder {
        margin-right: 4px;
    }

    .noCenter {
        align-items: flex-end;
    }

    .arrow {
        transform: rotate(90deg);
        width: 18px;
        height: 18px;
    }

    .showing {
        transform: rotate(180deg);
    }
</style>