<script>
    import Icon from "../../../assets/Icon.svelte";

    export let
        label = '',
        ml = 0,
        type = 'folder',
        handleClick = () => {},
        showing = true,
        isArrow = true,
        onRightClick = () => {}

    const files = [
        {type: 'svelte'}
    ]
</script>


<div
        on:dblclick={handleClick}
        on:contextmenu|preventDefault={onRightClick}
        class="directory"
        style="margin-left: {ml}"
>
    <div class="spacer"></div>
    <div class="name">
        <div class="folder">
            {#if type === 'js'}
                <Icon icon="js" />
            {/if}
            {#if type === 'svelte'}
                <Icon icon="svelte" />
            {/if}
        </div>
        <span class="label">{label}</span>
    </div>
</div>


<style>
    .directory {
        height: 18px;
        cursor: pointer;
        margin-top: 5px;
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #b7b7b7;
        font-size: 14px;
    }

    .spacer {
        margin-left: 23px;
    }


    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .label {
        height: 18px;
        line-height: 15px;
    }

    .folder {
        margin-right: 4px;
        display: flex;
    }
</style>