<script lang="ts">
    import { Component } from "../../../types/types";
    import { error } from "../../../stores/errorModalStore.js"
    import { activeFile } from "../../../stores/fileStore";
    import AceEditor from "../AceEditor/AceEditor.svelte";
    import Output from "../Output/Output.svelte";
    import Tabs from "../Tabs/Tabs.svelte";
    import Directories from "../Directories/Directories.svelte";
    import CreateFile from "../../Modals/CreateFile.svelte";
    import DeleteFile from "../../Modals/DeleteFile.svelte";
    import ErrorModal from "../../Modals/ErrorModal.svelte";
    import Errors from "../Errors/Errors.svelte";

    export let
        components: Component[] = [],
        compiled

    let
        current: number = 0,
        tabs,
        current_component,
        count

    function getMax(_components: Component[]): number {
        const ids = _components.map(({ id }) => id)
        return Math.max(...ids)
    }

    function newFolder(name) {

    }

    function newComponent(name, type) {
        if(name.length >= 1 && name.length < 303) {
            if(type === 'svelte' || type === 'js') {
                let notExists = true

                components.map((component) => {
                    (component.type === type && component.name === name) && (notExists = false)
                })

                if(notExists) {
                    const id = getMax(components) + 1
                    components = components.concat({
                        id,
                        name: name,
                        type: type,
                        source: "",
                        show: true,
                    });
                    current = id
                } else error.set(`File "${name}.${type}" already exists`)
            } else if(type === 'folder') {
                newFolder(name)
            } else error.set('Incorrect filetype')
        } else error.set('Incorrect filename length')
    }

    function renameComponent(name, type) {
        let newArr = [...components]
        newArr.map((el) => {
            if(el.name === $activeFile.name && el.type === $activeFile.type) {
                el.name = name
                el.type = type
            }
        })
        components = newArr
    }

    function hideComponent(detail) {
        console.log(detail)
        let newArr = [...components]
        newArr.map((el) => {el.id === detail && (el.show = false)})
        components = newArr
        current = 0
    }

    function showComponent(detail) {
        let newArr = [...components]
        newArr.map((el) => {
            let det = detail.split('/').filter(word => word !== 'root').join('/')

            if(el.name === det) {
                el.show = true
                current = el.id
            }
        })

        components = newArr
    }

    function deleteComponent(value, type) {
        components = components.filter(el => (el.name !== value || el.type !== type))
        current = 0
    }

    function selectComponent(detail) {
        current = detail
    }

    function changeName(id, name, type) {
        const newArray = [...components]

        newArray[id].name = name
        newArray[id].type = type

        components = newArray
    }

    $: current_component = components.findIndex(({ id }) => id === current)
    $: tabs = components.map(({ id, name, type, show = true }) => ({ id, name, type, show }))
    $: {
        count = 0
        components.map(component => component.show && count++)
    }
</script>

<div class="wrapper">
    <Directories
            {components}
            on:handleShow={({ detail }) => showComponent(detail)}
    />
    <div class="editorWrapper">
        <ErrorModal />
        <CreateFile
                handleRename={(value, type) => renameComponent(value, type)}
                handleCreate={(value, type) => newComponent(value, type)}
        />
        <DeleteFile
                handleDelete={(value, type) => deleteComponent(value, type)}
        />
        <div class="tabs">
            <Tabs
                    {tabs}
                    {current}
                    on:select={({ detail }) => selectComponent(detail)}
                    on:new={newComponent}
                    on:delete={({ detail }) => hideComponent(detail)}
                    on:changeName={({id, name}) => changeName(id, name)}
                    changeName={(id, name, type) => changeName(id, name, type)}
            />
        </div>
        {#if count}
            <div class="editor">
                <AceEditor bind:components bind:current />
            </div>
        {/if}
        {#if !count}
            <div class="closingText">
                Choose any file by double click
            </div>
        {/if}
    </div>
    <div class="output">
        <Output {compiled}/>
        {#if compiled?.type && compiled?.type === 'error'}
            <Errors {compiled}/>
        {/if}
    </div>
</div>


<style>
    .wrapper {
        width: 100vw;
        display: flex;
        flex-direction: row;
    }

    .tabs {
        width: 100%;
        overflow-x: scroll;
    }

    .tabs::-webkit-scrollbar {
        width: 0;
        height: 3px;
        background: #1d1f21;
    }

    .tabs::-webkit-scrollbar-track {
        background: transparent;
    }

    .tabs::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .editor {

    }

    .closingText {
        color: #939393;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 46px);
        background: #1d1f21;
    }

    .editorWrapper {
        position: relative;
        min-width: 300px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .output {
        overflow: scroll;
        position: relative;
        display: flex;
        width: 60%;
        height: 100vh;
    }

    .output::-webkit-scrollbar {
        width: 8px;
    }

    .output::-webkit-scrollbar-thumb {
        background-color: #626262;

    }

</style>