<script lang="ts">
	import { Router, Route } from "svelte-navigator";
	import MenuButton from "./components/Menu/MenuButton.svelte";
	import MainMenu from "./pages/MainMenu.svelte";
	import CodeEditorPage from "./pages/CodeEditorPage.svelte";

	export let name: string;
</script>

<main>
	<Router>
		<MenuButton />
		<Route path="/"><MainMenu /></Route>
		<Route path="/:id"><CodeEditorPage /></Route>
	</Router>
</main>

<style>
	:global(body) {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	main {
		text-align: center;
		max-width: 240px;
		margin: 0;
		padding: 0;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>