<script>
    import { createEventDispatcher } from 'svelte';
    import { getContext } from 'svelte'
    import { key } from '../menu.js'
    import { createFileModal } from '../../../../stores/createFileStore'
    import { activeFile } from "../../../../stores/fileStore";
    import MenuFile from './MenuFile.svelte'

    export let
        isDisabled = false,
        text = '',
        showAdditional = false

    let
        elem = null,
        node = null

    const dispatch = createEventDispatcher();
    const { dispatchClick } = getContext(key);

    const handleClick = (e) => {
        if (isDisabled) return;

        dispatch('click');
        dispatchClick();
    }

    const openModal = (type, label, name, action) => {
        activeFile.set({
            name,
            type,
            label
        })

        createFileModal.set({
            show: true,
            label,
            action
        })
    }
</script>

<div
        class="option {showAdditional && 'active'}"
        on:mouseover={() => showAdditional = true}
        class:disabled={isDisabled}
        on:click={handleClick}
>
    {#if text}
        {text}
    {:else}
        <slot />
    {/if}
    {#if showAdditional}
        <ul class="additional" bind:this={node}>
            <li>
                <MenuFile
                        handleClick={() => openModal('folder', 'New Folder', 'example', 'create')}
                        label="example"
                        type="folder"
                        ml="0"
                />
            </li>
            <li>
                <MenuFile
                        handleClick={() => openModal('svelte', 'New Svelte Component', 'example', 'create')}
                        label="example.svelte"
                        type="svelte"
                        ml="0"
                />
            </li>
            <li>
                <MenuFile
                        handleClick={() => openModal('js', 'New JavaScript File', 'example', 'create')}
                        label="example.js"
                        type="js"
                        ml="0"
                />
            </li>
        </ul>
    {/if}
</div>

<style>

    .option {
        position: relative;
        padding: 2px 15px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        color: #b7b7b7;
    }
    .active {
        background: #1b66b0;
        color: white;
    }
    .option.disabled {
        color: #0006;
    }
    .option.disabled:hover {
        background: white;
    }

    .additional {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        width: 200px;
        height: 200px;
        right: -201px;
        border: 1px solid #565656;
        background: #333538;
        top: -1px;
    }

    .additional li {
        padding: 2px 5px;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .additional li:hover {
        background: #1b66b0;
    }
</style>
