<script>
    import Icon from "../../../../assets/Icon.svelte";

    export let
        label = '',
        type = 'folder',
        handleClick = () => {},
        showing = true,
        isArrow = true

</script>


<div on:click={handleClick} class="directory">
    <div class="folder">
        {#if type === 'js'}
            <Icon icon="js" />
        {/if}
        {#if type === 'svelte'}
            <Icon icon="svelte" />
        {/if}
        {#if type === 'folder'}
            <Icon icon="folder" />
        {/if}
    </div>
    {label}
</div>


<style>
    .directory {
        cursor: pointer;
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #b7b7b7;
        font-size: 14px;
    }

    .folder {
        display: flex;
        margin-top: 2px;
        margin-right: 4px;
    }
</style>