<script>
    import { setContext, createEventDispatcher } from 'svelte'
    import { fade } from 'svelte/transition'
    import { key } from '../menu.js'

    const dispatch = createEventDispatcher()

    export let x, y
    let menuEl

    setContext(key, {
        dispatchClick: () => dispatch('click')
    })

    const onPageClick = (e) => {
        if (e.target === menuEl || menuEl.contains(e.target)) return
        dispatch('clickoutside')
    }

    $: (() => {
        if (!menuEl) return

        const rect = menuEl.getBoundingClientRect()
        x = Math.min(window.innerWidth - rect.width, x)
        if (y > window.innerHeight - rect.height) y -= rect.height
    })(x, y)
</script>


<svelte:body on:click={onPageClick} />

<div
        transition:fade={{ duration: 100 }}
        bind:this={menuEl}
        style="top: {y}px; left: {x}px; z-index: 1999"
>
    <slot />
</div>


<style>
    div {
        position: absolute;
        display: grid;
        border: 1px solid #565656;
        background: #333538;
        width: 180px;
    }
</style>