<script>
    import { createEventDispatcher } from 'svelte';
    import { activeFile } from "../../../../stores/fileStore";
    import { getContext } from 'svelte';
    import { key } from '../menu.js';

    export let
        isDisabled = false,
        text = '',
        handleMouseOver = () => {},
        handleDelete = () => {}

    const dispatch = createEventDispatcher();
    const { dispatchClick } = getContext(key);

    const handleClick = () => {
        if (isDisabled) return;

        handleDelete(activeFile)

        dispatch('click');
        dispatchClick();
    }
</script>


<div
        on:mouseover={handleMouseOver}
        class:disabled={isDisabled}
        on:click={handleClick}
>
    {#if text}
        {text}
    {:else}
        <slot />
    {/if}
</div>


<style>
    div {
        padding: 4px 15px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        color: #b7b7b7;
    }
    div:hover {
        background: #0002;
    }
    div.disabled {
        color: #0006;
    }
    div.disabled:hover {
        background: white;
    }
</style>
