<script lang="ts">
    import { Component } from "../../../types/types";
    import { AceEditor } from 'svelte-ace'
    import 'brace/mode/json'
    import 'brace/mode/jsx'
    import 'brace/mode/html'
    import 'brace/theme/tomorrow_night'

    export let
        components: Component[] = [],
        current: number = 0

    $: current_component = components.findIndex(({id}) => id === current)
</script>

<AceEditor
     bind:value={components[current_component].source}
     width='100%'
     height='calc(100vh - 33px)'
     lang='jsx'
     theme='tomorrow_night'
     options={{
        fontSize: "14px",
        showPrintMargin: 222
     }}
/>


<style>
    :global(.ace_scrollbar)::-webkit-scrollbar {
        width: 5px;
        height: 0;
        background: transparent;
    }

    :global(.ace_scrollbar)::-webkit-scrollbar-thumb {
        background: #949494;
    }
</style>